.grid {
  display: grid;
  grid-template-rows: repeat(40, 20px);
  grid-template-columns: repeat(40, 20px);
}

.cell {
  background-color: red;
  border: 1px solid white;
  box-sizing: border-box;
}

.dot {
  background-color: grey;
}
