.grid {
  display: grid;
  grid-template-rows: repeat(40, 20px);
  grid-template-columns: repeat(40, 20px);
}

.cell {
  background-color: white;
  border: 1px solid grey;
  box-sizing: border-box;
}

.dot {
  background-color: black;
}
