#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-grid {
  background-color: whitesmoke;
}

.grid {
  display: grid;
  grid-template-rows: repeat(15, 20px);
  grid-template-columns: repeat(15, 20px);
  border: 1px solid black;
  width: fit-content;
}

.cell {
}

.head {
  background: linear-gradient(to bottom, rgb(75, 75, 75), black);
}

.body-segment {
  background: linear-gradient(to bottom, rgb(75, 75, 75), black);
}

.food {
  background: linear-gradient(to bottom, rgb(187, 187, 187), grey);
}

.speed-up {
  background: linear-gradient(to bottom, green, rgb(0, 192, 0));
}

.speed-down {
  background: linear-gradient(to bottom, orange, rgb(192, 125, 0));
}

.feast {
  background: linear-gradient(to bottom, red, rgb(196, 0, 0));
}

.invincibility {
  background: linear-gradient(to bottom, gold, rgb(189, 160, 0));
}

.bonus-points {
  background: linear-gradient(to bottom, blue, rgb(0, 0, 177));
}

#start-button {
  height: 100px;
}

#game-score {
  font-size: 3rem;
}

.grid-flash-yellow {
  animation: flash 0.25s steps(1) infinite;
  animation-duration: 10s; /* entire effect lasts 10s */
  animation-iteration-count: 40; /* 10s / 0.25s = 40 flashes */
}

@keyframes flash {
  /* Early: slow flash */
  0% {
    box-shadow: 0 0 3px 3px rgba(255, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 12px 6px rgba(255, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 3px 3px rgba(255, 255, 0, 0.3);
  }
}
