.grid {
  display: grid;
  grid-template-rows: repeat(40, 20px);
  grid-template-columns: repeat(40, 20px);
  border: 1px solid black;
  width: fit-content;
}

.cell {
  background-color: white;
  box-sizing: border-box;
}

.head {
  background-color: black;
}

.body-segment {
  background-color: rgb(67, 67, 67);
}

.food {
  background-color: grey;
}

.speed-up {
  background-color: rgb(0, 163, 0);
}

.speed-down {
  background-color: orange;
}

.feast {
  background-color: red;
}

.invincibility {
  background-color: gold;
}
