.grid {
  display: grid;
  grid-template-rows: repeat(40, 20px);
  grid-template-columns: repeat(40, 20px);
}

.cell {
  background-color: white;
  border: 1px solid grey;
  box-sizing: border-box;
}

.head {
  background-color: black;
}

.body-segment {
  background-color: rgb(27, 27, 27);
}

.food {
  background-color: grey;
}

.speed-up {
  background-color: rgb(0, 163, 0);
}
